.btn {
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.primary {
  font-weight: 600;
  background: linear-gradient(to right, #11101d, #1a1835);
  color: white;
}

.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(17, 16, 29, 0.2);
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}
