/* Register.module.css */
.registerSection {
  text-align: center;
  padding: 2rem;
  margin: 1rem auto; /* Centers the section */
}

.registerText {
  color: #2c3e50;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
